<article class="dashboard-widget task-widget">
    <div class="dashboard-widget-header">
        <h3 class="dashboard-widget-title">
            Active Projects
        </h3>
    </div>
    
    <div class="dashboard-widget-body">
        <div class="loading loading--small" *ngIf="!projects"></div>

        <div class="dashboard-widget-row">
            <ul *ngIf="projects">
                <li *ngFor="let project of projects" class="project-widget-row">
                    <a [routerLink]="['/projects', project.id]" routerLinkActive="active" class="project-widget-link">
                        {{ project.title }}
                    </a>
                </li>
            </ul>

            <div *ngIf="projects && !projects.length" class="dashboard-widget-no-data">
                No active projects
            </div>
        </div>
    </div>
</article> 