<main class="main">
    <header class="main-header">
        <h1 class="main-header-title" *ngIf="task && project">
            {{ project.title ? project.title : '--' }} - {{ task.title ? task.title : '--' }}
        </h1>
    </header>
    
    <aside class="main-aside">
        <project-nav [project]="project" *ngIf="project"></project-nav>
    </aside>
    
    <section class="main-body" *ngIf="task">
        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">Summary</h2>
            </div>  

            <div class="main-body-header-btns">
                <a class="btn" href="">Edit task</a>    
            </div>
        </header>

        <div class="main-body-content">
            <div class="main-body-summary">
                {{ task.summary ? task.summary : '--' }}
            </div>
        </div>
    </section>

    <aside class="main-aside main-aside--wider" *ngIf="task">
        <section class="main-aside-section">
            <h2 class="main-aside-section-header">Status</h2>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Status
                    </dt>
                    <dd class="main-detail-list-data">
                        {{ task.status ? 'Complete' : 'In progress' }}
                    </dd>
                    
                    <dt class="main-detail-list-term" *ngIf="task.iteration">
                        Iteration
                    </dt>
                    <dd class="main-detail-list-data">
                        {{ task.iteration ? task.iteration.title : '--' }}
                    </dd>
                </dl>
            </div>
        </section>


        <section class="main-aside-section">
            <h2 class="main-aside-section-header">Dates</h2>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Due Date
                    </dt>
                    <dd class="main-detail-list-data">
                        {{ task.due_date ? task.due_date : '--' }}
                    </dd>
                </dl>
            </div>
        </section>

        <section class="main-aside-section">
            <h2 class="main-aside-section-header">People</h2>

            <div class="main-aside-section-body">
                <div class="user-card">
                    <div class="user-card-avatar"></div>

                    <div class="user-card-header">
                        <div class="user-card-title">
                            {{ task.assignee ? task.assignee.name : 'Unassigned' }}
                        </div>
                        <div class="user-card-subtext">
                            {{ task.assignee ? task.assignee.username : '--' }}
                        </div>
                    </div>
                    <div class="user-card-body">
                        Assignee
                    </div>
                </div>

                <div class="user-card">
                    <div class="user-card-avatar"></div>

                    <div class="user-card-header">
                        <div class="user-card-title">
                            {{ task.reporter ? task.reporter.name : 'Unassigned' }}
                        </div>
                        <div class="user-card-subtext">
                            {{ task.reporter ? task.reporter.username : '--' }}
                        </div>
                    </div>
                    <div class="user-card-body">
                        Reporter
                    </div>
                </div>
            </div>
        </section>
    </aside>
</main>