<main class="main" [formGroup]="taskForm">
    <confirmation-dialog (notify)="onDeleteConfirmation($event)" 
                         [isOpen]="isDeleteConfirmationDialogOpen"
                         [context]="deleteDialog">
    </confirmation-dialog>

    <div class="loading" *ngIf="isDeleting"></div>
    <div class="overlay" [ngClass]="{ 'visible': isDeleting }"></div>

    <header class="main-header">
        <h1 class="main-header-title" *ngIf="task && project">
            <label class="main-field-editable" 
                   title="Click to edit"
                   *ngIf="!isToggled.title" 
                   (click)="toggleField('title', true)">
                {{ task.title }}
            </label>
            <input (keydown.enter)="toggleField('title', false)" 
                   class="main-field-form" 
                   type="text" 
                   *ngIf="isToggled.title" 
                   formControlName="title"
                   [value]="task.title" 
                   [(ngModel)]="task.title">
        </h1>
    </header>
    
    <aside class="main-aside">
        <project-nav [project]="project" *ngIf="project"></project-nav>
    </aside>
    
    <section class="main-body" *ngIf="task">
        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">Summary</h2>
            </div>  
        </header>

        <div class="main-body-content">
            <div class="main-body-summary">
                <label class="main-field-editable" 
                       title="Click to edit"
                       *ngIf="!isToggled.summary" 
                       (click)="toggleField('summary', true)">
                    {{ task.summary ? task.summary : '--' }}
                </label>
                <textarea (keydown.enter)="toggleField('summary', false)" 
                          rows="5"
                          class="main-field-form" 
                          type="text" 
                          *ngIf="isToggled.summary" 
                          formControlName="summary"
                          [(ngModel)]="task.summary">
                    {{ task.summary }}
                </textarea>
            </div>
        </div>
    </section>

    <aside class="main-aside" *ngIf="task">
        <section class="main-aside-section">
            <div class="main-aside-section-header">
                <h2 class="main-aside-section-title">Status</h2>
            </div>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Status
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                               title="Click to edit"
                               *ngIf="!isToggled.status"
                               (click)="toggleField('status', true)">
                            {{ task.status ? 'Complete' : 'In progress' }}
                        </label>

                        <select formControlName="status" 
                                *ngIf="isToggled.status" 
                                class="main-field-form" 
                                (change)="toggleField('status', false)"
                                (keydown.enter)="toggleField('status', false)" 
                                [(ngModel)]="task.status"> 
                            <option value="0">In Progress</option>
                            <option value="1">Complete</option>
                        </select>
                    </dd>
                    
                    <dt class="main-detail-list-term" *ngIf="task.iteration">
                        Iteration
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                               title="Click to edit"
                               *ngIf="!isToggled.iteration"
                               (click)="toggleField('iteration', true)">
                            {{ task.iteration ? task.iteration.title : '--' }}
                        </label>

                        <select formControlName="iteration" 
                                *ngIf="isToggled.iteration" 
                                class="main-field-form" 
                                (change)="toggleField('iteration', false)"
                                (keydown.enter)="toggleField('iteration', false)" 
                                [(ngModel)]="task.iteration.id"> 
                            <option value="">
                                - Select an iteration -
                            </option>
                            <option *ngFor="let iteration of project.iterations" 
                                    [ngValue]="iteration.id" 
                                    [attr.selected]="task.iteration && task.iteration.id == iteration.id ? true : null">
                                {{ iteration.title }}
                            </option>
                        </select>                       
                    </dd>
                </dl>
            </div>
        </section>


        <section class="main-aside-section">
            <div class="main-aside-section-header">
                <h2 class="main-aside-section-title">Dates</h2>
            </div>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Due Date
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                               title="Click to edit"
                               *ngIf="!isToggled.due_date" 
                               (click)="toggleField('due_date', true)">
                            {{ task.due_date ? task.due_date : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('due_date', false)" 
                               class="main-field-form" 
                               type="date" 
                               *ngIf="isToggled.due_date" 
                               formControlName="due_date"
                               [value]="task.due_date" 
                               [(ngModel)]="task.due_date">
                    </dd>
                </dl>
            </div>
        </section>

        <section class="main-aside-section">
            <div class="main-aside-section-header">
                <h2 class="main-aside-section-title">People</h2>
            </div>

            <div class="main-aside-section-body">
                <div class="user-card">
                    <div class="user-card-avatar"></div>

                    <div class="user-card-header">
                        <div class="user-card-title">
                            {{ task.assignee ? task.assignee.name : 'Unassigned' }}
                        </div>
                        <div class="user-card-subtext">
                            {{ task.assignee ? task.assignee.username : '--' }}
                        </div>
                    </div>
                    <div class="user-card-body">
                        Assignee
                    </div>
                </div>

                <div class="user-card">
                    <div class="user-card-avatar"></div>

                    <div class="user-card-header">
                        <div class="user-card-title">
                            {{ task.reporter ? task.reporter.name : 'Unassigned' }}
                        </div>
                        <div class="user-card-subtext">
                            {{ task.reporter ? task.reporter.username : '--' }}
                        </div>
                    </div>
                    <div class="user-card-body">
                        Reporter
                    </div>
                </div>
            </div>
        </section>

        <section class="main-aside-section align-right">
            <div class="main-aside-section-header">
                <h2 class="hidden">Delete</h2>
            </div>
            
            <div class="main-aside-section-body main-aside-section-body--fix-to-bottom">
                <button class="btn btn--warning" 
                        [ngClass]="{ 'btn--disabled': isDeleting }"
                        [disabled]="isDeleting"
                        (click)="toggleDeleteConfirmationDialog()">
                    Delete
                </button>
            </div>
        </section>
    </aside>
</main>