<dialog class="dialog" [attr.open]="isOpen ? true : null" (keydown.esc)="closeDialog()">
    <div class="dialog-header">
        <h3 class="dialog-header-title">{{ title }}</h3>

        <button class="dialog-dismiss-btn" 
                aria-label="Dismiss" 
                title="Dismiss"
                (click)="closeDialog()">
        </button>
    </div>

    <div class="dialog-body">
        <div class="dialog-form">
            <ng-content></ng-content>
        </div>
        
        <div class="dialog-context">
            <h4 class="dialog-context-title">{{ context.title }}</h4>
            <p class="dialog-context-body"> 
                {{ context.body }}    
            </p>
        </div>
    </div>
</dialog>

<div class="overlay" [ngClass]="{ 'visible': isOpen }"></div>