<base-dialog [isOpen]="isOpen"
             [title]="dialogTitle" 
             [context]="dialogContext">

    <form [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">
        <label class="form-label">
            <span class="form-label-title">Task Title</span>
            <span class="form-label-subtext">You can call your new task anything.</span>

            <div *ngIf="title.invalid && title.touched" class="form-label-error" role="alert">
                <div *ngIf="title.errors?.required">
                    Title field can't be blank
                </div>
            </div>

            <div *ngIf="serverErrors && serverErrors.error" class="form-label-error" role="alert">
                <div *ngIf="serverErrors && serverErrors.error.error">
                    Something has went wrong. Please try again later.
                </div>
            </div>

            <input type="text" class="form-input" formControlName="title">
        </label>

        <label class="form-label" *ngIf="projects">
            <span class="form-label-title">Project</span>
            <span class="form-label-subtext">Select a project that the task belongs to.</span>

            <select class="form-input" formControlName="selectedProject" (ngModelChange)="changeProject($event)">
                <option value="" selected>- Select a project -</option>
                <option [ngValue]="project" *ngFor="let project of projects">{{ project.title }}</option>
            </select>
        </label>

        <label class="form-label" *ngIf="!projects || selectedProject !== null">
            <span class="form-label-title">Iteration</span>
            <span class="form-label-subtext">Select an iteration that the task belongs to.</span>

            <select formControlName="iteration_id" class="form-input" *ngIf="projects && selectedProject">
                <option value="" [attr.selected]="!selectedIteration ? 'true' : null">
                    - Select an iteration -
                </option>
                <option [ngValue]="iteration.id" 
                        *ngFor="let iteration of selectedProject.iterations"
                        [attr.selected]="selectedIteration.id == iteration.id ? 'true' : null">
                    {{ iteration.title }}
                </option>
            </select>

            <select formControlName="iteration_id" class="form-input" *ngIf="!projects">
                <option value="" [attr.selected]="!selectedIteration ? 'true' : null">
                    - Select an iteration -
                </option>
                <option [ngValue]="iteration.id" 
                        *ngFor="let iteration of iterations"
                        [attr.selected]="selectedIteration.id == iteration.id ? 'true' : null">
                    {{ iteration.title }}
                </option>
            </select>
        </label>

        <input type="submit" 
               class="btn form-btn" 
               value="Create" 
               [ngClass]="{ 'btn--disabled': isPerformingAPICall }"
               [disabled]="isPerformingAPICall">
    </form>

</base-dialog>