<main>
    <h1 class="sink-title">Sink</h1>

    <article class="sink-section">
        <h2 class="sink-section-title">Buttons</h2>

        <button class="btn">Create</button>
        <button class="btn btn--warning">Delete</button>
        
        <br><br>
        
        <a class="btn" href="">Save comment</a>
        <a class="btn btn--secondary" href="">Draft comment</a>
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Form Fields</h2>

        <label class="form-label">
            <span class="form-label-title">Project Title</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="text" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Email</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="email" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Image</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="file" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Message</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <textarea class="form-input form-textarea"></textarea>
        </label>

        <input type="submit" class="btn" value="Send message">
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Tables</h2>

        <table class="table">
            <thead class="table-head">
                <tr>
                    <th class="table-head-cell">Key</th>
                    <th class="table-head-cell">Summary</th>
                    <th class="table-head-cell">Assingee</th>
                    <th class="table-head-cell"><span class="hidden">View</span></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-body-row">
                    <td class="table-body-cell">A223</td>
                    <td class="table-body-cell">Lorem ipsum dolor sit amet</td>
                    <td class="table-body-cell">John Doe</td>
                    <td class="table-body-cell">
                        <a class="table-body-view" href="" aria-label="Task A223">
                            View
                        </a>
                    </td>
                </tr>
                <tr class="table-body-row">
                    <td class="table-body-cell">C353</td>
                    <td class="table-body-cell">Lorem ipsum dolor sit amet</td>
                    <td class="table-body-cell">Lisa Jones</td>
                    <td class="table-body-cell">
                        <a class="table-body-view" href="" aria-label="Task C353">
                            View
                        </a>
                    </td>
                </tr>
                <tr class="table-body-row">
                    <td class="table-body-cell">B356</td>
                    <td class="table-body-cell">Lorem ipsum dolor sit amet</td>
                    <td class="table-body-cell">Lisa Jones</td>
                    <td class="table-body-cell">
                        <button class="table-body-delete" href="" aria-label="Delete Task B356" title="Delete Task"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Kanban</h2>

        <article class="kanban-card">
            <div class="kanban-card-header">
                <h3 class="kanban-card-title">
                    Iteration 1
                </h3>
            </div>
            
            <div class="kanban-card-body">
                <a href=""  class="kanban-card-task">
                    Task A123
                </a>
                <a href=""  class="kanban-card-task">
                    Task B123
                </a>
                <a href=""  class="kanban-card-task">
                    Task C123
                </a>
            </div>
        </article>

        <article class="kanban-card">
            <div class="kanban-card-header">
                <h3 class="kanban-card-title">
                    Iteration 2
                </h3>
            </div>
            
            <div class="kanban-card-body">
                <a href="" class="kanban-card-task">
                    Task A123
                </a>
                <a href="" class="kanban-card-task">
                    Task B123
                </a>
            </div>
        </article>
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Toast Notifications</h2>

        <dialog class="toast" open>
            <span class="toast-featured">Joe Bloggs</span> has commented on your activity
            <button class="toast-dismiss-btn" aria-label="Dismiss" title="Dismiss"></button>
        </dialog>
    </article>

    <br><br>

    <article class="sink-section">
        <h2 class="sink-section-title">Sign in layout</h2>

        <main class="sign-in" style="padding: 1em; width: fit-content;">
            <h1 class="sign-in-title">Sign in to your account</h1>

            <section class="sign-in-form">
                <label class="form-label">
                    <span class="form-label-title">Email address / username</span>
                    <input type="text" class="form-input" placeholder="Enter your email or username...">
                </label>

                <label class="form-label">
                    <span class="form-label-title">
                        Password
                        <span class="sign-in-forgot-password">
                            <a href="">
                                Forgot password?
                            </a>
                        </span>
                    </span>
                    <input type="password" class="form-input" placeholder="Enter your password...">
                </label>

                <input type="submit" class="btn sign-in-btn" value="Sign in">
            </section>

            <aside class="sign-in-aside">
                <p>
                    New user? 
                    <a href="">Create an account</a>.
                </p>
            </aside>
        </main>
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Register layout</h2>

        <main class="sign-in" style="padding: 1em; width: fit-content;">
            <h1 class="sign-in-title">Register your account</h1>

            <section class="sign-in-form">
                <label class="form-label">
                    <span class="form-label-title">Email address</span>
                    <input type="email" class="form-input" placeholder="Enter your email...">
                </label>

                <label class="form-label">
                    <span class="form-label-title">Username</span>
                    <input type="text" class="form-input" placeholder="Enter a username...">
                </label>

                <label class="form-label">
                    <span class="form-label-title">Full name</span>
                    <input type="text" class="form-input" placeholder="Enter your full name...">
                </label>

                <label class="form-label">
                    <span class="form-label-title">
                        Password
                    </span>
                    <input type="password" class="form-input" placeholder="Enter a password...">
                </label>

                <label class="form-label">
                    <span class="form-label-title">
                        Confirm Password
                    </span>
                    <input type="password" class="form-input" placeholder="Confirm your password...">
                </label>

                <input type="submit" class="btn sign-in-btn" value="Sign up">

                <p class="sign-in-footer-notice">
                    Already have an account?
                    <a href="">Sign in</a>.
                </p>
            </section>
        </main>
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Forgotten Password</h2>

        <main class="sign-in" style="padding: 1em; width: fit-content;">
            <h1 class="sign-in-title">Forgotten Password</h1>

            <section class="sign-in-form">
                <p class="sign-in-spiel">
                    Don’t worry - we all forget things from time to 
                    time. Just pop your email in the form below and 
                    we’ll get you back into your account before you 
                    know it.
                </p>

                <label class="form-label">
                    <span class="form-label-title">Email address</span>
                    <input type="email" class="form-input" placeholder="Enter your email...">
                </label>

                <input type="submit" class="btn sign-in-btn" value="Send Reset Link">
            </section>

            <aside class="sign-in-aside">
                <p>
                    Remembered your password?
                    <a href="">Sign in</a>.
                </p>
            </aside>
        </main>
    </article>
    
    <article class="sink-section">
        <h2 class="sink-section-title">Dialog</h2>

        <div style="padding: 4em; 
                    background-image: linear-gradient(0deg, rgba(84, 85, 84, 0.7), rgba(84, 85, 84, 0.7));    
                    position: absolute;
                    width: 110%;
                    height: 15em;
                    margin: 0 -2em;">

            <dialog open class="dialog">
                <div class="dialog-header">
                    <h3 class="dialog-header-title">Welcome to ...</h3>
    
                    <button class="dialog-dismiss-btn" aria-label="Dismiss" title="Dismiss"></button>
                </div>
    
                <div class="dialog-body">
                    Probably some content here, maybe.
                </div>

                <script>
                    // let dialog = document.getElementsByClassName('dialog');
                    // let cancelButton = document.getElementsByClassName('dialog-dismiss-btn')

                    // cancelButton.addEventListener('click', () => {
                    //     dialog.close()
                    // })
                </script>
            </dialog>

        </div>
    </article>

    <br><br><br><br><br><br><br><br><br><br><br><br>

    <article class="sink-section">
        <h2 class="sink-section-title">Dashboard Widget</h2>

        <article class="dashboard-widget">
            <div class="dashboard-widget-header">
                <h3 class="dashboard-widget-title">
                    Your Tasks
                </h3>
            </div>
            
            <div class="dashboard-widget-body">
                <div class="dashboard-widget-row">

                </div>
            </div>
        </article>
    </article>
</main>