<main>
    <h1 class="sink-title">Sink</h1>

    <article class="sink-section">
        <h2 class="sink-section-title">Buttons</h2>
    
        <button class="btn">Create</button>  
        <button class="btn btn--warning">Delete</button><br><br>
        <a class="btn" href="">Save comment</a>
        <a class="btn btn--secondary" href="">Save comment</a>
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Form Fields</h2>
    
        <label class="form-label">
            <span class="form-label-title">Project Title</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="text" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Email</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="email" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Image</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="file" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Message</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <textarea class="form-input"></textarea>
        </label>    
        
        <input type="submit" class="btn" value="Send message">
    </article>

</main>