<main>
    <h1 class="sink-title">Sink</h1>

    <article class="sink-section">
        <h2 class="sink-section-title">Buttons</h2>

        <button class="btn">Create</button>
        <button class="btn btn--warning">Delete</button>
        
        <br><br>
        
        <a class="btn" href="">Save comment</a>
        <a class="btn btn--secondary" href="">Draft comment</a>
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Form Fields</h2>

        <label class="form-label">
            <span class="form-label-title">Project Title</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="text" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Email</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="email" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Image</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <input type="file" class="form-input">
        </label>

        <label class="form-label">
            <span class="form-label-title">Message</span>
            <span class="form-label-subtext">You can call your new project anything.</span>
            <textarea class="form-input form-textarea"></textarea>
        </label>

        <input type="submit" class="btn" value="Send message">
    </article>

    <article class="sink-section">
        <h2 class="sink-section-title">Tables</h2>

        <table class="table">
            <thead class="table-head">
                <tr>
                    <th class="table-head-cell">Key</th>
                    <th class="table-head-cell">Summary</th>
                    <th class="table-head-cell">Assingee</th>
                    <th class="table-head-cell"><span class="hidden">View</span></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-body-row">
                    <td class="table-body-cell">A223</td>
                    <td class="table-body-cell">Lorem ipsum dolor sit amet</td>
                    <td class="table-body-cell">John Doe</td>
                    <td class="table-body-cell table-body-view">View</td>
                </tr>
                <tr class="table-body-row">
                    <td class="table-body-cell">C353</td>
                    <td class="table-body-cell">Lorem ipsum dolor sit amet</td>
                    <td class="table-body-cell">Lisa Jones</td>
                    <td class="table-body-cell table-body-view">View</td>
                </tr>
                <tr class="table-body-row">
                    <td class="table-body-cell">B356</td>
                    <td class="table-body-cell">Lorem ipsum dolor sit amet</td>
                    <td class="table-body-cell">Lisa Jones</td>
                    <td class="table-body-cell table-body-view">View</td>
                </tr>
            </tbody>
        </table>
    </article>
</main>