<header class="header">
    <div class="header-organisation">
        <a routerLink="/dashboard" 
           routerLinkActive="active" 
           class="header-organisation-link"
           *ngIf="user">
            {{ this.user.organisation ? this.user.organisation.name : 'Dashboard' }}
        </a>
    </div>

    <div class="header-icons">
        <button class="header-icon header-notifications"></button>
        <div class="header-hr"></div>
        <button class="header-icon header-signout" (click)="signout()"></button>
    </div>
</header>