<header class="header">
    
    <div class="header-organisation">
        <a routerLink="/dashboard" 
           routerLinkActive="active" 
           class="header-organisation-link"
           *ngIf="user">
            {{ this.user.organisation ? this.user.organisation.name : 'Organisation' }}
        </a>
    </div>

    <div class="header-icons">
        <button class="header-icon header-notifications" 
                (click)="toggleMenu('notifications', true)"
                aria-label="Notifications">
        </button>

        <div class="header-hr"></div>

        <button class="header-icon header-signout" 
                (click)="signout()"
                aria-label="Signout">
        </button>
    </div>
    
    <notifications-menu [isOpen]="isMenuOpen.notifications"
                        (isOpenEmitter)="toggleMenu('notifications', $event)">
    </notifications-menu>

</header>

