<main class="main">
    <header class="main-header">
        <h1 class="main-header-title">
            Iterations
        </h1>
    </header>
    
    <aside class="main-aside">
        <project-nav [project]="project" *ngIf="project"></project-nav>
    </aside>
    
    <section class="main-body" *ngIf="project">
        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">All Iterations</h2>
            </div>  

            <div class="main-body-header-btns">
                <a class="btn btn--secondary" href="">Import iteration</a>
                <a class="btn" href="">Create iteration</a>    
            </div>
        </header>

        <table class="table">
            <thead class="table-head">
                <tr>
                    <th class="table-head-cell">Iteration</th>
                    <th class="table-head-cell">Summary</th>
                    <th class="table-head-cell">Start Date</th>
                    <th class="table-head-cell">Due Date</th>
                    <th class="table-head-cell">
                        <span class="hidden">View</span>
                    </th>
                </tr>
            </thead>

            <tbody class="table-body">
                <tr class="table-body-row" *ngFor="let iteration of project.iterations"> 
                    <td class="table-body-cell">{{ iteration.title }}</td>
                    <td class="table-body-cell">{{ iteration.summary.substring(0, 25) + '...' }}</td>
                    <td class="table-body-cell">{{ iteration.start_date }}</td>
                    <td class="table-body-cell">{{ iteration.end_date }}</td>
                    <td class="table-body-cell table-body-cell--view">
                        <a class="table-body-view" 
                           [routerLink]="['/projects', project.id, 'iterations', iteration.id]" 
                           routerLinkActive="active" 
                           aria-label="iteration.title">
                            View
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>