<main class="main">
    <header class="main-header">
        <h1 class="main-header-title">
            Projects
        </h1>
    </header>
    
    <aside class="main-aside">
        
        <ul class="main-aside-links">
            <li>
                <button class="main-aside-link"
                        (click)="setFilter('active')">
                    Active Projects
                </button>
            </li>
            
            <li>
                <button class="main-aside-link"
                        (click)="setFilter('archived')">
                    Archived Projects
                </button>
            </li>
            
            <li>
                <button class="main-aside-link"
                        (click)="setFilter('all')">
                    All Projects
                </button>
            </li>
        </ul>
    </aside>

    <section class="main-body">
        <div class="loading" *ngIf="!projects"></div>

        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">{{ getTitle() }}</h2>
            </div>  

            <div class="main-body-header-btns">
                <a class="btn btn--secondary" href="">Import project</a>
                <button class="btn" (click)="toggleCreateProjectDialog()">Create project</button>    
            </div>
        </header>

        <table class="table" *ngIf="projects">
            <thead class="table-head">
                <tr>
                    <th class="table-head-cell">Project</th>
                    <th class="table-head-cell">Status</th>
                    <th class="table-head-cell">Methodology</th>
                    <th class="table-head-cell">
                        <span class="hidden">View</span>
                    </th>
                </tr>
            </thead>

            <tbody class="table-body">
                <ng-container *ngFor="let project of projects">
                    <tr class="table-body-row" *ngIf="!isFiltered(project)"> 
                        <td class="table-body-cell">
                            <a [routerLink]="['/projects', project.id]" 
                               routerLinkActive="active"
                               class="table-body-link">
                                {{ project.title }}
                            </a>
                        </td>
                        <td class="table-body-cell">{{ project.summary ? project.summary.substring(0, 25) + '...' : '--' }}</td>
                        <td class="table-body-cell">{{ project.methodology ? project.methodology : '--' }}</td>
                        <td class="table-body-cell table-body-cell--view">
                            <a class="table-body-view" 
                               [routerLink]="['/projects', project.id]" 
                               routerLinkActive="active" 
                               attr.aria-label="{{ project.title }}">
                                View
                            </a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div *ngIf="projects && !projects.length" class="table-no-content">
            There are no active projects available.
        </div>
    </section>

    <project-dialog [isOpen]="isProjectDialogOpen"></project-dialog>
</main>