<main class="main" [formGroup]="projectForm">
    <confirmation-dialog (notify)="onDeleteConfirmation($event)" 
                         [isOpen]="isDeleteConfirmationDialogOpen"
                         [title]="deleteDialogTitle"
                         [body]="deleteDialogBody">
    </confirmation-dialog>

    <div class="loading" *ngIf="isDeleting"></div>
    <div class="overlay" [ngClass]="{ 'visible': isDeleting }"></div>

    <header class="main-header" [ngClass]="{ 'main-header--dark': (project && project.archived) }">
        <h1 class="main-header-title" *ngIf="project">
            <label class="main-field-editable" 
                   title="Click to edit"
                   *ngIf="!isToggled.title" 
                   (click)="toggleField('title', true)">
                {{ project.title }} <span *ngIf="project.archived">[Archived]</span>
            </label>
            <input (keydown.enter)="toggleField('title', false)" 
                    class="main-field-form" 
                    type="text" 
                    *ngIf="isToggled.title" 
                    formControlName="title"
                    [value]="project.title" 
                    [(ngModel)]="project.title">
        </h1>
    </header>
    
    <aside class="main-aside">
        <project-nav [project]="project"></project-nav>
    </aside>
    
    <section class="main-body" *ngIf="project" (ngSubmit)="onFormSubmit()"> 
        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">Summary</h2>
            </div>  
        </header>

        <div class="main-body-content">
            <div class="main-body-summary">
                <label class="main-field-editable" 
                       title="Click to edit"
                       *ngIf="!isToggled.summary" 
                       (click)="toggleField('summary', true)">
                    {{ project.summary ? project.summary : 'Click here to add a summary.' }}
                </label>
                <textarea (keydown.enter)="toggleField('summary', false)" 
                       rows="5"
                       class="main-field-form" 
                       type="text" 
                       *ngIf="isToggled.summary" 
                       formControlName="summary"
                       [(ngModel)]="project.summary">
                    {{ project.summary }}
                </textarea>
            </div>
        </div>

        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">Iterations</h2>
            </div>  

            <div class="main-body-header-btns">
                <a class="btn btn--secondary" href="">Import iteration</a>
                <button class="btn" (click)="toggleCreateIterationDialog()">Create iteration</button>
            </div>
        </header>

        <div class="main-body-content">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th class="table-head-cell">Iteration</th>
                        <th class="table-head-cell">Status</th>
                        <th class="table-head-cell">Start Date</th>
                        <th class="table-head-cell">Due Date</th>
                        <th class="table-head-cell">
                            <span class="hidden">View</span>
                        </th>
                    </tr>
                </thead>
    
                <tbody class="table-body" *ngIf="project.iterations.length">
                    <tr class="table-body-row" *ngFor="let iteration of project.iterations"> 
                        <td class="table-body-cell">
                            <a [routerLink]="['/projects', project.id, 'iterations', iteration.id]" 
                               routerLinkActive="active"
                               class="table-body-link">
                                {{ iteration.title }}
                            </a>
                        </td>
                        <td class="table-body-cell">{{ iteration.status ? iteration.status : '--' }}</td>
                        <td class="table-body-cell">{{ iteration.start_date ? iteration.start_date : '--' }}</td>
                        <td class="table-body-cell">{{ iteration.end_date ? iteration.end_date : '--' }}</td>
                        <td class="table-body-cell table-body-cell--view">
                            <a class="table-body-view" 
                               [routerLink]="['/projects', project.id, 'iterations', iteration.id]" 
                               routerLinkActive="active">
                                View
                            </a>
                        </td>
                    </tr>
                </tbody> 
            </table>

            <div *ngIf="!project.iterations.length" class="table-no-content">
                This project has no iterations yet.
            </div>
        </div>
    </section>

    <aside class="main-aside" *ngIf="project">
        <section class="main-aside-section">
            <div class="main-aside-section-header">
                <h2 class="main-aside-section-title">Context</h2>
            </div>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Client
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                               title="Click to edit"
                               *ngIf="!isToggled.client"
                               (click)="toggleField('client', true)">
                                {{ project.client ? project.client.name : '--' }}
                        </label>

                        <select formControlName="client" 
                                *ngIf="isToggled.client" 
                                class="main-field-form" 
                                (keydown.enter)="toggleField('client', false)" 
                                [(ngModel)]="project.client.id"> 
                            <option value="">
                                - Select a client -
                            </option>
                            <option *ngFor="let client of clients" 
                                    [ngValue]="client.id" 
                                    [attr.selected]="project.client && project.client.id == client.id ? true : null">
                                {{ client.name }}
                            </option>
                        </select>
                    </dd>
                    
                    <dt class="main-detail-list-term">
                        Status
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                               title="Click to edit"
                               *ngIf="!isToggled.status"
                               (click)="toggleField('status', true)">
                               {{ project.status ? 'Complete' : 'In progress' }}
                        </label>

                        <select formControlName="status" 
                                *ngIf="isToggled.status" 
                                class="main-field-form" 
                                (keydown.enter)="toggleField('status', false)" 
                                [(ngModel)]="project.status"> 
                            <option value="0">In Progress</option>
                            <option value="1">Complete</option>
                        </select>
                    </dd>
                    
                    <dt class="main-detail-list-term">
                        Methodology
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                                title="Click to edit"
                                *ngIf="!isToggled.methodology" 
                                (click)="toggleField('methodology', true)">
                            {{ project.methodology ? project.methodology : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('methodology', false)" 
                                class="main-field-form" 
                                type="text" 
                                *ngIf="isToggled.methodology" 
                                formControlName="methodology"
                                [value]="project.methodology" 
                                [(ngModel)]="project.methodology">
                    </dd>
                    
                    <dt class="main-detail-list-term">
                        Budget (&pound;)
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                                title="Click to edit"
                                *ngIf="!isToggled.budget" 
                                (click)="toggleField('budget', true)">
                            {{ project.budget ? project.budget : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('budget', false)" 
                                class="main-field-form" 
                                type="text" 
                                *ngIf="isToggled.budget" 
                                formControlName="budget"
                                [value]="project.budget" 
                                [(ngModel)]="project.budget">
                    </dd>
                </dl>
            </div>
        </section>

        <section class="main-aside-section">
            <div class="main-aside-section-header">
                <h2 class="main-aside-section-title">Dates</h2>
            </div>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Start Date
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                               title="Click to edit"
                               *ngIf="!isToggled.start_date" 
                               (click)="toggleField('start_date', true)">
                            {{ project.start_date ? project.start_date : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('start_date', false)" 
                               class="main-field-form" 
                               type="date" 
                               *ngIf="isToggled.start_date" 
                               formControlName="start_date"
                               [value]="project.start_date" 
                               [(ngModel)]="project.start_date">
                    </dd>
                    
                    <dt class="main-detail-list-term">
                        Due Date
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                               title="Click to edit"
                               *ngIf="!isToggled.due_date" 
                               (click)="toggleField('due_date', true)">
                            {{ project.due_date ? project.due_date : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('due_date', false)" 
                               class="main-field-form" 
                               type="date" 
                               *ngIf="isToggled.due_date" 
                               formControlName="due_date"
                               [value]="project.due_date" 
                               [(ngModel)]="project.due_date">
                    </dd>
                </dl>
            </div>
        </section>

        <section class="main-aside-section">
            <div class="main-aside-section-header">
                <h2 class="main-aside-section-title">People</h2>
                <button class="btn btn--right" (click)="toggleProjectPeopleDialog()">Edit People</button>
            </div>

            <div class="main-aside-section-body">
                <div class="user-card" *ngFor="let user of project.users">
                    <div class="user-card-avatar"></div>
                    
                    <div class="user-card-header">
                        <div class="user-card-title">
                            {{ user.name }}
                        </div>
                        <div class="user-card-subtext">
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="user-card-body">
                        {{ user.project_manager ? "Project Manager" : "Team Member" }}
                    </div>
                </div>
            </div>
        </section>

        <section class="main-aside-section align-right">
            <div class="main-aside-section-header">
                <h2 class="hidden">Delete or Archive</h2>
            </div>
            
            <div class="main-aside-section-body">
                <button class="btn btn--secondary" 
                        (click)="setProjectArchiveState(true)"
                        *ngIf="!project.archived">
                    Archive
                </button>

                <button class="btn btn--secondary" 
                        (click)="setProjectArchiveState(false)"
                        *ngIf="project.archived">
                    Unarchive
                </button>

                <button class="btn btn--warning" 
                        [ngClass]="{ 'btn--disabled': isDeleting }"
                        [disabled]="isDeleting"
                        (click)="toggleDeleteConfirmationDialog()">
                    Delete
                </button>
            </div>
        </section>
    </aside>

    <iteration-dialog *ngIf="project" [isOpen]="isIterationDialogOpen" [projectId]="project.id"></iteration-dialog>
    <project-people-dialog *ngIf="project" [isOpen]="isProjectPeopleDialogOpen" [project]="project"></project-people-dialog>
</main>