<article class="dashboard-widget task-widget">
    <div class="dashboard-widget-header">
        <h3 class="dashboard-widget-title">
            Your Tasks
        </h3>
    </div>
    
    <div class="dashboard-widget-body">
        <div class="loading loading--small" *ngIf="!tasks"></div>

        <div class="dashboard-widget-row">
            <ul *ngIf="tasks">
                <li *ngFor="let task of tasks" class="task-widget-row">
                    <a [routerLink]="['/projects', task.iteration.project_id, 'tasks', task.id]" 
                       routerLinkActive="active" 
                       class="task-widget-link">
                        {{ task.title }}
                    </a>
                </li>
            </ul>

            <div *ngIf="tasks && !tasks.length" class="dashboard-widget-no-data">
                No assigned tasks
            </div>
        </div>
    </div>
</article> 