<base-dialog [isOpen]="isOpen"
             [title]="title" 
             [context]="context">

    <form [formGroup]="teamInvitationForm" (ngSubmit)="onFormSubmit()">

        <label class="form-label">
            <span class="form-label-title">Email address</span>
            <span class="form-label-subtext">The user's email address.</span>

            <div *ngIf="email.invalid && email.touched" class="form-label-error" role="alert">
                <div *ngIf="email.errors?.required">
                    Email field can't be blank
                </div>

                <div *ngIf="email.errors?.pattern">
                    This email doesn't look quite right
                </div>
            </div>

            <div *ngIf="serverErrors.error" class="form-label-error" role="alert">
                <div *ngIf="serverErrors.error.status_code == 404">
                    No user exists with this email address. 
                </div>
            </div>

            <input type="email" class="form-input" formControlName="email">
        </label>

        <label class="form-label">
            <span class="form-label-title">Role</span>
            <span class="form-label-subtext">The person’s role in the team.</span>

            <div *ngIf="role.invalid && role.touched" class="form-label-error" role="alert">
                <div *ngIf="role.errors?.required">
                    Role field can't be blank
                </div>
            </div>

            <input type="text" class="form-input" formControlName="role">
        </label>
    
        <input type="submit" 
               class="btn form-btn" 
               value="Create" 
               [ngClass]="{ 'btn--disabled': isPerformingAPICall }"
               [disabled]="isPerformingAPICall">
               
    </form>

</base-dialog>