/* 
 * Sign in layout 
 *
 */

.sign-in {
    background: $dark-blue;

    color: white;

    font-family: $libre-franklin;

    min-height: 100vh;
    padding: { top: 3em; }

    &-title {
        font-size: 1.625em;
        margin: 1em auto;
        text-align: center;
    } 

    &-form,
    &-aside {
        background: white;
        
        border-radius: 3px;

        color: black;
        
        margin: 2em auto 0;
        padding: 2em 1.5em;
        width: 28.125em;
    }

    &-spiel {
        @include type-setting(0);
        margin: { bottom: 1.5em; }
    }

    &-forgot-password {
        float: right;
        font-size: .9em;
    }

    &-btn {
        font-size: 1.125em;
        text-align: center;
        width: 100%;
    }

    &-aside {
        text-align: center;
    }

    &-footer-notice {
        color: $darkest-gray;
        margin: { top: 2em; }
        text-align: center;
    }

    &-success {
        text-align: center;
        
        &-title {
            @include type-setting(2);
        }

        &-text {
            @include type-setting(0);
            margin: { bottom: 1em; }
        }
    }
}