/* 
 * Kitchen Sink layouts
 *
 */

.sink-title {
    font-size: 3em;
    margin: .5em .666em 0;
    width: 100%;
}

.sink-section {
    margin: 1em 2em;
    position: relative;
    width: 100%;
} 

.sink-section-title {
    font-size: 2em;
    margin: 0 0 .5em;
}