/* 
 * Project Widget
 *
 */

// TODO: add hover states, etc.

.project-widget {
    &-row {
        border-bottom: 1px solid $lightest-gray;
        color: $darkest-gray;
        padding: 1em;
    }
}