<main class="main">
    <header class="main-header">
        <h1 class="main-header-title">
            Iterations
        </h1>
    </header>
    
    <aside class="main-aside">
        <project-nav [project]="project" *ngIf="project"></project-nav>
    </aside>
    
    <section class="main-body" *ngIf="project">
        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">All Iterations</h2>
            </div>  

            <div class="main-body-header-btns">
                <button class="btn btn--secondary" (click)="toggleImportIterationDialog()">Import iteration</button>   
                <button class="btn" (click)="toggleCreateIterationDialog()">Create iteration</button>
            </div>
        </header>

        <table class="table">
            <thead class="table-head">
                <tr>
                    <th class="table-head-cell">Iteration</th>
                    <th class="table-head-cell">Summary</th>
                    <th class="table-head-cell">Start Date</th>
                    <th class="table-head-cell">Due Date</th>
                    <th class="table-head-cell">
                        <span class="hidden">View</span>
                    </th>
                </tr>
            </thead>

            <tbody class="table-body">
                <tr class="table-body-row" *ngFor="let iteration of project.iterations"> 
                    <td class="table-body-cell">
                        <a [routerLink]="['/projects', project.id, 'iterations', iteration.id]" 
                           routerLinkActive="active"
                           class="table-body-link">
                            {{ iteration.title }}
                        </a>
                    </td>
                    <td class="table-body-cell">
                        {{ iteration.summary ? iteration.summary.substring(0, 25) + '...' : '--' }}
                    </td>
                    <td class="table-body-cell">
                        {{ iteration.start_date ? iteration.start_date : '--' }}
                    </td>
                    <td class="table-body-cell">
                        {{ iteration.end_date ? iteration.end_date : '--' }}
                    </td>
                    <td class="table-body-cell table-body-cell--view">
                        <a class="table-body-view" 
                           aria-label="iteration.title"
                           [routerLink]="['/projects', project.id, 'iterations', iteration.id]" 
                           routerLinkActive="active">
                            View
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="project && !project.iterations.length" class="table-no-content">
            This project has no iterations yet.
        </div>
    </section>
</main>

<iteration-dialog *ngIf="project" 
                  [isOpen]="isIterationDialogOpen" 
                  [projectId]="project.id">
</iteration-dialog>

<iteration-import-dialog [isOpen]="isIterationImportDialogOpen"></iteration-import-dialog>
