<main class="main" [formGroup]="iterationForm">
    <header class="main-header">
        <h1 class="main-header-title" *ngIf="iteration">
            <label class="main-field-editable" 
                   title="Click to edit"
                   *ngIf="!isToggled.title" 
                   (click)="toggleField('title', true)">
                {{ iteration.title }}
            </label>
            <input (keydown.enter)="toggleField('title', false)" 
                    class="main-field-form" 
                    type="text" 
                    *ngIf="isToggled.title" 
                    formControlName="title"
                    [value]="iteration.title" 
                    [(ngModel)]="iteration.title">
        </h1>
    </header>
    
    <aside class="main-aside">
        <project-nav [project]="project" *ngIf="project"></project-nav>
    </aside>
    
    <section class="main-body" *ngIf="iteration">
        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">Summary</h2>
            </div>  
        </header>

        <div class="main-body-content">
            <div class="main-body-summary">
                <label class="main-field-editable" 
                       title="Click to edit"
                       *ngIf="!isToggled.summary" 
                       (click)="toggleField('summary', true)">
                    {{ iteration.summary ? iteration.summary : '--' }}
                </label>
                <textarea (keydown.enter)="toggleField('summary', false)" 
                        rows="5"
                        class="main-field-form" 
                        type="text" 
                        *ngIf="isToggled.summary" 
                        formControlName="summary"
                        [(ngModel)]="iteration.summary">
                    {{ iteration.summary }}
                </textarea>
            </div>
        </div>

        <header class="main-body-header">
            <div class="main-body-header-title">
                <h2 class="main-body-title">Tasks</h2>
            </div>  

            <div class="main-body-header-btns">
                <a class="btn btn--secondary" href="">Import task</a>
                <button class="btn" (click)="toggleCreateTaskDialog()">Create task</button>   
            </div>
        </header>

        <div class="main-body-content">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th class="table-head-cell">Title</th>
                        <th class="table-head-cell">Summary</th>
                        <th class="table-head-cell">Assignee</th>
                        <th class="table-head-cell">Due Date</th>
                        <th class="table-head-cell">
                            <span class="hidden">View</span>
                        </th>
                    </tr>
                </thead>
    
                <tbody class="table-body" *ngIf="project && iteration.tasks">
                    <tr class="table-body-row" *ngFor="let task of iteration.tasks"> 
                        <td class="table-body-cell">
                            <a [routerLink]="['/projects', project.id, 'tasks', task.id]" 
                               routerLinkActive="active"
                               class="table-body-link">
                                {{ task.title }}
                            </a>
                        </td>
                        <td class="table-body-cell">{{ task.summary }}</td>
                        <td class="table-body-cell">{{ task.assignee }}</td>
                        <td class="table-body-cell">{{ task.due_date }}</td>
                        <td class="table-body-cell table-body-cell--view">
                            <a class="table-body-view" 
                               [routerLink]="['/projects', project.id, 'tasks', task.id]" 
                               routerLinkActive="active">
                                View
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="!iteration.tasks.length" class="table-no-content">
                This iteration has no tasks yet.
            </div>
        </div>
    </section>

    <aside class="main-aside main-aside--wider" *ngIf="iteration">
        <section class="main-aside-section">
            <h2 class="main-aside-section-header">Context</h2>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Status
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                                title="Click to edit"
                                *ngIf="!isToggled.status"
                                (click)="toggleField('status', true)">
                                {{ iteration.status ? iteration.status : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('status', false)" 
                                class="main-field-form" 
                                type="text" 
                                *ngIf="isToggled.status" 
                                formControlName="status"
                                [value]="iteration.status" 
                                [(ngModel)]="iteration.status">
                    </dd>
                </dl>
            </div>
        </section>

        <section class="main-aside-section">
            <h2 class="main-aside-section-header">Dates</h2>

            <div class="main-aside-section-body">
                <dl class="main-detail-list">
                    <dt class="main-detail-list-term">
                        Start Date
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                                title="Click to edit"
                                *ngIf="!isToggled.start_date" 
                                (click)="toggleField('start_date', true)">
                            {{ iteration.start_date ? iteration.start_date : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('start_date', false)" 
                                class="main-field-form" 
                                type="date" 
                                *ngIf="isToggled.start_date" 
                                formControlName="start_date"
                                [value]="iteration.start_date" 
                                [(ngModel)]="iteration.start_date">
                    </dd>
                    
                    <dt class="main-detail-list-term">
                        Due Date
                    </dt>
                    <dd class="main-detail-list-data">
                        <label class="main-field-editable" 
                                title="Click to edit"
                                *ngIf="!isToggled.due_date" 
                                (click)="toggleField('due_date', true)">
                            {{ iteration.due_date ? iteration.due_date : '--' }}
                        </label>
                        <input (keydown.enter)="toggleField('due_date', false)" 
                                class="main-field-form" 
                                type="date" 
                                *ngIf="isToggled.due_date" 
                                formControlName="due_date"
                                [value]="iteration.due_date" 
                                [(ngModel)]="iteration.due_date">
                    </dd>
                </dl>
            </div>
        </section>
    </aside>

    <task-dialog *ngIf="project" [isOpen]="isTaskDialogOpen" [iterations]="project.iterations"></task-dialog>
</main>