<main class="sign-in">
    <h1 class="sign-in-title">Forgotten Password</h1>

    <section class="sign-in-form">
        <form [formGroup]="emailForm" (ngSubmit)="onFormSubmit()" *ngIf="!emailSent">
            <p class="sign-in-spiel">
                Type your email in the 
                form below and we will send you an email to 
                reset your password.
            </p>

            <label class="form-label">
                <span class="form-label-title">Email address</span>

                <div *ngIf="email.invalid && email.touched" class="form-label-error" role="alert">
                    <div *ngIf="email.errors?.required">
                        Email field can't be blank
                    </div>
            
                    <div *ngIf="email.errors?.pattern">
                        The email provided doesn't seem right
                    </div>
                </div>

                <input type="email" class="form-input" placeholder="Enter your email address..." formControlName="email">
            </label>

            <input type="submit" class="btn sign-in-btn" value="Send Reset Link">
        </form>

        <div class="sign-in-success" *ngIf="emailSent">
            <h2 class="sign-in-success-title">Check your email :emoji:</h2>

            <p class="sign-in-success-text">
                We have sent a password reset link to your email.
            </p>
        </div>
    </section>

    <aside class="sign-in-aside">
        <p>
            Remembered your password?
            <a class="sign-in-link"  
               routerLink="/login" 
               routerLinkActive="active">
               Sign in
            </a>.
        </p>
    </aside>
</main>