<nav class="nav">  

    <div class="nav-bar">

        <div class="nav-avatar"
             role="button"
             aria-label="Toggle personal settings menu"
             (click)="toggleAvatarMenu()">
        </div>

        <hr class="nav-hr">
    
        <button class="nav-btn nav-btn--search" 
                aria-label="Toggle search menu"
                (click)="toggleSearchMenu()">
        </button>
    
        <button class="nav-btn nav-btn--add" 
                aria-label="Toggle create menu"
                (click)="toggleAddMenu()">
        </button>
    
        <hr class="nav-hr">
    
        <ul class="nav-links"> 

            <li>
                <a routerLink="/dashboard" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--dashboard">
                    Dashboard   
                </a>
            </li>

            <li>
                <a routerLink="/projects" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--projects">
                    Projects   
                </a>
            </li>

            <li>
                <a routerLink="/teams" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--teams">
                    Teams   
                </a>
            </li>

            <li>
                <a routerLink="/clients" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--clients">
                    Clients   
                </a>
            </li>
            
        </ul>
        
    </div>

    <search-menu [isOpen]="isSearchMenuActive"></search-menu>

    <add-menu [isOpen]="isCreateMenuActive"></add-menu>

    <avatar-menu [isOpen]="isAvatarMenuActive"></avatar-menu>

</nav>