<nav class="nav">  
    <div class="nav-bar">

        <div class="nav-avatar"
             role="button"
             aria-label="Toggle personal settings menu"
             title="Settings"
             (click)="toggleMenu('avatar')">
        </div>

        <hr class="nav-hr">
    
        <button class="nav-btn nav-btn--search" 
                aria-label="Toggle search menu"
                (click)="toggleMenu('search')">
        </button>
    
        <button class="nav-btn nav-btn--add" 
                aria-label="Toggle create menu"
                (click)="toggleMenu('create')">
        </button>
    
        <hr class="nav-hr">
    
        <ul class="nav-links"> 

            <li>
                <a routerLink="/dashboard" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--dashboard">
                    Dashboard   
                </a>
            </li>

            <li>
                <a routerLink="/projects" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--projects">
                    Projects   
                </a>
            </li>

            <li>
                <a routerLink="/teams" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--teams">
                    Teams   
                </a>
            </li>

            <li>
                <a routerLink="/clients" 
                   routerLinkActive="active" 
                   class="nav-link nav-link--clients">
                    Clients   
                </a>
            </li>
        </ul>
    
        <button class="nav-link nav-link--support"
                aria-label="Toggle support menu"
                (click)="toggleMenu('support')">
            Support   
        </button>
    
    </div>

    <search-menu [isOpen]="isMenuOpen.search"></search-menu>

    <create-menu [isOpen]="isMenuOpen.create"></create-menu>

    <avatar-menu [isOpen]="isMenuOpen.avatar"></avatar-menu>

    <support-menu [isOpen]="isMenuOpen.support"></support-menu>
</nav>