<nav class="nav">

    <div class="nav-avatar"></div>

    <hr class="nav-hr">

    <button class="nav-btn nav-btn--search" aria-label="Search Menu"></button>

    <button class="nav-btn nav-btn--add" aria-label="Add Menu"></button>

    <hr class="nav-hr">

    <ul class="nav-links">
        <li>
            <a href="" class="nav-link nav-link--dashboard">
                Dashboard   
            </a>
        </li>
        <li>
            <a href="" class="nav-link nav-link--projects">
                Projects   
            </a>
        </li>
        <li>
            <a href="" class="nav-link nav-link--teams">
                Teams   
            </a>
        </li>
        <li>
            <a href="" class="nav-link nav-link--clients">
                Clients   
            </a>
        </li>
    </ul>

</nav>