<div class="search-menu" [ngClass]="{ 'visible': isOpen }" [attr.aria-expanded]="isOpen ? true : false">

    <button class="search-menu-dismiss-btn" 
            aria-label="Dismiss" 
            title="Dismiss" 
            (click)="toggleDialog()">
    </button>
    
    <label class="search-menu-title">
        Search...

        <input type="text" 
               class="search-menu-input" 
               placeholder="Search projects, iterations and tasks&hellip;"
               (keyup.enter)="submitSearch($event)">
    </label>
    
</div>

<div class="overlay" [ngClass]="{ 'visible': isOpen }"></div>