@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500|Montserrat:400,500');

$montserrat:     'Montserrat', sans-serif;
$libre-franklin: 'Libre Franklin', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-rendering: geometricPrecision;
}