/* 
 * Utils
 *
 */

.hidden {
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}

.empty-state {
    color: $darkest-gray;
    font-family: $libre-franklin;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}