/* 
 * Variables
 *
 */

$green:         #1FAA00;
$light-green:   #64DD17;


$blue:          #0077C2;
$dark-blue:     #004C91;

$light-red:     #BA000D;
$red:           #F44336;

$lightest-gray: #F0F0F0;
$lighter-gray:  #D7D6D6;
$light-gray:    #CFCFCF;
$gray:          #9E9E9E;
$dark-gray:     #707070;
$darker-gray:   #505050;

$outline-color: darkorange;