/* 
 * Variables
 *
 */

/* 
 * Colours 
 */ 

$green:         #2C9315;
$light-green:   #64DD17;

$blue:          #0077C2;
$dark-blue:     #004C91;

$light-red:     #BA000D;
$red:           #F44336;

$yellow:        #FFEB3B;

$purple:        #3F51B5;
$dark-purple:   #002984;

$lightest-gray: #F5F5F6;
$lighter-gray:  #F0F0F0;
$light-gray:    #D7D6D6;
$gray:          #CFCFCF;
$dark-gray:     #9E9E9E;
$darker-gray:   #707070;
$darkest-gray:  #505050;

$outline-color: darkorange;

/* 
 * Sizes
 */

$header-height: 3.125em;
