/* 
 * Buttons
 *
 */

.btn {
    background-color: $green;

    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    color: white;
    cursor: pointer;

    display: inline-block;

    font-family: $libre-franklin;
    font-size: .8em;
    font-weight: 300;

    margin: { right: .25em; }
    outline-color: $outline-color;
    padding: .75em 1.5em;
    position: relative;

    text-decoration: none;

    transition: all .3s ease;

    &:hover,
    &:focus,
    &:active {
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);

        background-color: $light-green;
        
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);

        transform: scale(1.05);   
    }

    &--secondary {
        background-color: transparent;
        box-shadow: none;
        color: $blue;
        padding: { left: 1em; right: 1em; }

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            box-shadow: none;
            color: $dark-blue;
        }
    }

    &--warning {
        background-color: transparent;
        box-shadow: none;
        color: $red;
        padding: { left: 1em; right: 1em; }

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            box-shadow: none;
            color: $dark-red;
        }
    }

    &--danger {
        background-color: $dark-red;

        &:hover,
        &:focus,
        &:active {
            background-color: $red;
        }
    }

    &--disabled {
        opacity: .7;
        pointer-events: none;
    }

    &--right {
        float: right;
        margin: { right: 0; }
    }
}
