/*
 * Dashboard Widgets
 *
 */

.dashboard-widget {
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    display: inline-block;
    
    font-family: $libre-franklin;

    margin: { bottom: 1em; right: 1em; }
    
    width: 17.5em;

    &-header {
        background: $dark-blue;
        
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        color: white;

        padding: .75em 1em;
    }

    &-title {
        font-family: $montserrat;
        font-size: 1.125em;
    }

    &-body {
        background: white;

        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        height: 15em;

        overflow: scroll;
    }

    &-no-data {
        color: $darkest-gray;
        padding: 1.5em 0;
        text-align: center;
    }
}