/* 
 * Dialog
 *
 */ 

.dialog {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    font-family: $libre-franklin;
    
    margin: 6em auto 0;
    padding: 0;
    width: 40em;
    
    z-index: 10;

    &--hidden {
        animation: hide-dialog 5s 1;
    }

    &--small {
        width: 20em;
    }
    
    &-header {
        background: $dark-blue;

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        color: white;
        padding: 1em;
        position: relative;

        &-title {
            font-size: 1.25em;
        }
    }
    
    &-body {
        @include clearfix;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 2em 1.5em;

        &-subtext {
            color: $dark-gray;
            margin: { top: .5em; }
        }
    }

    &-form {
        border: { right: 1px solid $lightest-gray; }
        float: left;
        padding-right: 1.5em;
        width: susy-span(7 of 12);
    }

    &-context {
        float: left;
        padding-left: 1.5em;
        width: susy-span(5 of 12);

        &-title {
            font-size: 1.125em;
            margin: { bottom: .5em }
        }

        &-body {
            @include type-setting(0);
            color: $darkest-gray;
            font-weight: 200;
        }
    }

    &-btns {
        border-top: 1px solid $light-gray;    
        padding: 1em;
        text-align: right;
    }

    &-dismiss-btn {
        background: url('../assets/img/icons/white-cross.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        
        border: none;

        cursor: pointer;
        
        float: right;
        height: 1.5em;
        opacity: .8;
        position: absolute;
        right: 1.5em;
        top: 1.80em;
        transition: all .3s ease;
        width: 1.5em;

        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }
    }

    @keyframes hide-dialog {
        0% {
            transform: scale(1);
        }
        5% {
            transform: scale(1.2);
        }
        15% {
            transform: scale(0);
        }
        75% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
}