/* 
 * Form fields 
 *
 */

.form {
    &-label {
        color: black;

        display: block;
        
        font-family: $libre-franklin;

        margin: 0 0 1.5em 0;

        &-title {
            display: block;
            font-size: 1.125em;
        }

        &-subtext { 
            color: $dark-gray;
            display: block;
            font-weight: 200;
            margin: { top: .375em; }
        }

        &-error {
            color: $red;
            margin: .75em 0 1em;
        }
    }

    &-input {    
        background: $lighter-gray;
        
        border: 1px solid $light-gray;
        border-radius: 3px;
        
        color: #505050;
        
        display: block;
        
        font-family: $libre-franklin;
        font-size: 1em;
        
        margin: { top: .75em; }
        outline: 0;
        padding: .75em 1em;

        resize: none;
        transition: all .3s ease;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
            background: darken($lighter-gray, 10%);
            border-color: darken($light-gray, 10%);
            color: black;
        }
    }

    &-textarea {
        height: 7em;
        padding: 1.125em .75em .75em .75em;
    }
}