/*
 * Information Page
 *
 */

.info-page {
    &-wrapper {
        margin: 0 auto;
        max-width: 468px;
    }
    
    &-title {
        @include type-setting(1);
        font-family: $montserrat;
        font-weight: 500;
        margin: .5em 0 .5em;
    }

    &-text {
        @include type-setting(0);
        color: $darkest-gray;
        font-family: $libre-franklin;
        margin: { bottom: 1em; }
    }

    &-list {
        @include type-setting(0);
        color: $darkest-gray;
        font-family: $libre-franklin;
        list-style-type: disc;
        margin: { bottom: 1em; }
        padding: { left: 1.25em; }
    }
}