/*
 * Notifications Menu
 *
 */

.notifications-menu {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    color: white;

    position: absolute;
    right: 1em;
    top: 2.5em;

    transform: translateX(25em);
    transition: transform .3s ease;
    will-change: transform;

    z-index: 3;

    &.visible {
        transform: translateX(0);
    }

    &-header {
        background-color: $blue;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 1em;
    }

    &-title {
        display: inline-block;
        font-family: $montserrat;
        font-size: 1.125em;
        padding: { right: 1em; }
    }

    &-body {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 1em;
    }

    &-no-content {
        color: $darkest-gray;
        padding: 1.5em 1em 2em;
        text-align: center;
    }
    
    &-dismiss-btn {
        background: url('../assets/img/icons/white-cross.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 1.25em;
        
        border: none;

        cursor: pointer;
        
        float: right;
        height: 1.5em;
        margin: .25em;
        opacity: .8;
        transition: all .3s ease;

        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }
    }
}
