/* 
 * Page Not Found
 *
 */ 

.page-not-found {
    display: inline-block;
    text-align: center;

    &-title {
        @include type-setting(1);
        font-family: $montserrat;
        font-weight: 500;
    }

    &-subtext {
        @include type-setting(0);
        color: $darkest-gray;
        font-family: $montserrat;
    }

    &-btn {
        background: $dark-blue;
        color: white;
        font-size: 1em;
        margin: { top: 1em; }
        
        &:hover,
        &:focus,
        &:active {
            background: $blue;
        }
    }   
}