/* 
 * Tables
 *
 */

%cell {
    font-family: $libre-franklin;
    padding: .75em 0;
}

.table {
    width: 100%;
    
    &-head {
        border-bottom: 1px solid $light-gray;

        &-cell {
            @extend %cell;
            font-weight: 400;
        }
    }

    &-body {
        &-row {
            &:nth-of-type(odd) {
                background: $lightest-gray;
            }
        }

        &-cell {
            @extend %cell;
            color: $dark-gray;
            font-weight: 200; 

            &:first-of-type {
                padding: { left: .75em; right: 1em; }
            }
        }

        &-view {
            color: $light-gray;

            font-size: .9em;
            
            padding: { right: 1.125em };
            position: relative;

            &:after {
                background: url('../assets/img/icons/eye.svg') 50% no-repeat;
                background-size: contain;
                
                bottom: 0;
                content: '';
                display: inline-block;
                position: absolute;
                right: .5em;
                top: 0;
                width: 1em;
            }
        }
    }
} 