/* 
 * Tables
 *
 */

%cell {
    font-family: $libre-franklin;
    padding: .75em 0;
}

.table {
    width: 100%;
    
    &-head {
        border-bottom: 1px solid $light-gray;

        &-cell {
            @extend %cell;
            font-weight: 400;
        }
    }

    &-body {
        &-row {
            &:nth-of-type(odd) {
                background: $lightest-gray;
            }
        }

        &-cell {
            @extend %cell;
            color: $dark-gray;
            font-weight: 200; 

            &:first-of-type {
                padding: { left: .75em; right: 1em; }
            }
        }

        &-view {
            color: $light-gray;

            font-size: .9em;
            
            position: relative;

            padding: 0 2em 0 1em;
            text-decoration: none;

            transition: all .3s ease;

            &:after {
                background: url('../assets/img/icons/eye.svg') 50% no-repeat;
                background-size: contain;

                bottom: 0;
                content: '';
                display: inline-block;

                -webkit-filter: grayscale(100%); 
                filter: grayscale(100%);
                opacity: .7;

                position: absolute;
                right: .5em;
                top: 0;
                
                transition: all .3s ease;
                
                width: 1em;
            }

            &:hover,
            &:focus,
            &:active {
                color: $gray;

                &:after {
                    -webkit-filter: grayscale(0); 
                    filter: grayscale(0);
                    opacity: 1;
                }
            }
        }

        &-delete {
            background: none;
            
            border: 0;

            cursor: pointer;

            float: right;
            
            font-size: .9em;
            
            height: 1em;
            margin: 0 1em;
            padding: 0;
            position: relative;
            width: 1.25em;

            &:after {
                background: url('../assets/img/icons/delete.svg') 50% no-repeat;
                background-size: contain; 

                bottom: 0;
                content: '';
                display: inline-block;
                left: 0;
                opacity: .7;
                position: absolute;
                top: 0;

                transition: all .3s ease;
                
                width: 1.25em;
            }

            &:hover,
            &:focus,
            &:active {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
} 