/* 
 * Toast Notifications
 *
 */ 

.toast {
    background: $yellow;

    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    font-family: $libre-franklin;
    font-size: .9em;
    font-weight: 200;
    
    left: auto;
    right: .5em;
    top: .325em;
    z-index: 1;

    &-featured {
        font-weight: 500;
    }

    &-dismiss-btn {
        background: url('../assets/img/icons/yellow-cross.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        
        border: none;

        cursor: pointer;
        
        height: 1.25em;
        margin: { left: 1em; }

        opacity: .6;
        transition: all .3s ease;

        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }
    }
}