/* 
 * Welcome Dialog
 *
 */

.welcome-dialog {
    &-image {
        background-image: url('../assets/img/icons/avatar-placeholder.svg');
        background-position: 25%;
        background-repeat: no-repeat;
        background-size: contain;

        border-radius: 100%;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        
        float: left;
        height: 7em;
        margin: 0 1.5em;
        width: 7em;
    }

    &-content {
        float: left;
        padding: { right: 1.5em; }
        width: calc(100% - 10em);
    }

    &-title {
        font-size: 4em;
        font-weight: 500;
    }

    &-text {
        @include type-setting(0);
        font-weight: 200;
        margin: 1em 0;
    }

    &-form {
        @include clearfix;
        margin: 1em 0;

        &-btn {
            float: right;
            font-size: 1em;
            margin: 0;
        }
    }

    &-hr {
        border: none;
        border-top: 1px solid $lightest-gray;
        margin: .5em 0;
    }
}